<div class="frontend">
  <h1>Reset Password</h1>
  <form class="accounts-form" name="resetPasswordEmailForm" ng-if="!rpc.token">
    <div ng-show="rpc.error" class="md-warn">
      <small>{{ rpc.error }}</small>
    </div>
    <label for="email">Email:</label>
    <input type="email"
      ng-model="rpc.credentials.email"
      placeholder="email"
      aria-label="email"
      id="email"
      required/>
    <button ng-disabled="!resetPasswordEmailForm.$valid"
      ng-click="rpc.reset()">Submit</button>
  </form>
  <form class="accounts-form reset-password-form" name="resetPasswordForm" ng-if="rpc.token">
    <div ng-show="rpc.error" class="md-warn">
      <small>{{ rpc.error }}</small>
    </div>
    <label for="new_password">New Password:</label>
    <input type="password"
      ng-model="rpc.newPassword"
      placeholder="password"
      aria-label="password"
      id="new_password"
      required/>
    <button ng-disabled="!resetPasswordForm.$valid"
      ng-click="rpc.setNewPassword()">Set New Password</button>
  </form>
</div>
